# Auto detect text files and perform LF normalization
* text=auto
<a href="https://raw.githubusercontent.com/nab07lo/Portfernando/nab07lo-patch-2/assinatura%20de%20email%20Ferias-07.png"><img border="0" src="//path-to-image.png" alt="alt title"></a>
